<!-- PROYECTOS REALIZADOS-->
<section class="bg-light p-5 rounded">
    <h1 class="titulo" id="proyectos"> PROYECTOS</h1>
    
    <div class="bnt-edit position-relative top-0 start-100"><a href="#" class="btn-right">Editar<i class="fa fa-pen"></i></a></div>
    
    <br> 
    <!-- Proyectos varios--> 
    <div class="contenedor"> 
        <figure>
            <img src="../assets/img/formularioBoostrap.png" alt="ERROR">
            <div class="capa">
              <h3>Diseño Web</h3>
              <p>
                Prototipo y maqueto tus diseños estáticos y los convierto en increíbles sitios y aplicaciones <i>web</i>
                responsivas, óptimas y accesibles.
                HTML, CSS3, Boostrap, Java Scrip, Java
                -<i>HTMl</i>.<br>                
                -<i>Css3</i>.<br>
                -<i>Boostrap</i>.<br>
                -<i>JavaScrip</i>.<br>
                -<i>Java</i><br>
              </p>
        </div>
        </figure>    
        <figure>
            <img src="../assets/img/AgenciaBoostrap.png" alt="">
            <div class="capa">
              <h3>Programación <i>Web</i></h3>
              <p>
                Desarrollo sitios y aplicaciones para plataformas <i>Web</i>. Te ayudo a construir tu proyecto de principio a
                fin:<i>Backend</i>, Data base & <i>Frontend</i>
                -<i>Boostrap</i>.<br>
                -<i>Css3</i>.<br>               
                -<i>Apache NetBeans</i>.<br>
                -<i>XAMPP</i>.<br>
                -<i>phpmyadmin</i>.<br>
                -<i>Sql, MySQL Workbech</i><br>                
              </p>
        </div>
        </figure>    
        <figure>
            <img src="../assets/img/OradoresCodoaCodoBoostrap.png" alt="">
            <div class="capa">
              <h3><i>Web Hosting</i></h3>
              <p>
                ¿No cuentas con dominio y hospedaje <i>web</i> para tu proyecto? No te preocupes de esas cosas técnicas me
                encargo yo.                
              </p>
        </div>
        </figure>   
        <figure>
            <img src="../assets/img/pc.escritorio1.jpeg" alt="">
            <div class="capa">
              <h3>Programador Junior</h3>
              <p>
                Mantenimiento y desarrollo de nuevas funcionalidades  para aplicativos web y móvil
                Utilizando herramientas como:<br>
                -Java 8.<br>
                -<i>MySQL</i>.<br>                
                -<i>POO</i>.<br>
                -<i>sql</i>.<br>
                -<i>phpmyadmin, NetBeans</i>. <br>
                -<i>Git ,github</i><br>
                -Metodología <i>Scrum</i>
              </p>
        </div>
        </figure>   
        <figure>
            <img src="../assets/img/pc.escritorio2.jpeg" alt="">
            <div class="capa">
              <h3>Programador Junior</h3>
              <p>
                Mantenimiento y desarrollo de bases de datos<br>
                -Java 8.<br>
                -<i>MySQL</i>.<br>                
                -<i>POO</i>.<br>
                -<i>sql</i>.<br>
                -<i>phpmyadmin</i>.<br>
                -<i>Git github</i><br>
                -Metodología <i>Scrum</i>
              </p>
        </div>
        </figure>    
        <figure>
            <img src="../assets/img/images (1).jpg" alt="">
            <div class="capa">
              <h3>Programador Junior</h3>
              <p>
                Mantenimiento y desarrollo de nuevas funcionalidades  para aplicativos web y móvil 
              Utilizando herramientas como:<br>
                -Java 8.<br>
                -<i>MySQL</i>.<br>                
                -<i>POO</i>.<br>
                -<i>Angular (Curso en Proceso)</i>.<br>
                -<i> Node JS(Curso en Proceso)</i> <br>                
              </p>
        </div>
        </figure>      
    </div>  
    </section>
