<!-- experiencia -->

<br>
<br>
<main class="container">
<div class="bg-light p-5 rounded">
  <h1>EXPERIENCIA</h1>

  <div class="bnt-edit position-relative top-0 start-100"><a href="#" class="btn-right">Editar<i class="fa fa-pen"></i></a></div>
  <h5><i>Desarrollador FullStack JUNIOR</i></h5>

<p>Profesional con 1 años de experiencia, con conocimientos que abarcan las áreas del
   desarrollo frontend y el backend, enfocado al manejo de tecnologías que se utilizan
    para crear un sitio web y API desde cero. Conocimientos integrales desde metodologías,
     lenguajes de programación, y herramientas para cada etapa de desarrollo.</p>
<p>Disfruto llevar a cabo la maquetación y el desarrollo frontend donde puedo crear la 
  interfaz, a través de código HTML5, procurando que sea agradable visualmente y de facil
   manejo para el usuario, valiendome de herramientas tecnologicas como CCS, Boostrap,
   JavaScrip o java. Vigilandio que el tiempo de carga de la página web sea corto y se
   pueda abrir en múltiples navegadores.</p>
<p>Igualmente me parece interesante realizar la infraestructura del programa de modo que
   el usuario realice las operaciones que desee en el sitio web o aplicación y tenga los
   resultados que busca. Pare esto me valgo de tecnologias como SQL, MySQL, Java, Apache 
   NetBeans,XAMPP, phpmyadmin.
</p>
<P>Cuento con cursos adicionales como Organizador de Computadores e instalación de Softwares
  y técnologias informaticas además electrónica en telecomunicaciones.
</P>    
 
</div>
</main>