<!-- navegador -->
<nav class="navbar navbar-dark  mb-1" *ngIf="encabezado">  
  <div class="container-fluid">
    <!-- logo_arg -->
  <article>        
    <img [src]="" alt="error" class="logo_arg">           
  </article>  
     <!-- botones de contacto redes sociales-->
    <h2 class="redes">
      <a class="fa-brands fa-whatsapp" [href]="" target="_blank"></a>
      <a class="fa-brands fa-linkedin"  [href]="" target="_blank" ></a>
      <a class="fa-brands fa-github" [href]="" target="_blank"></a>
    </h2>
    <!-- botom de login -->
    <div>
    <a class="navbar-brand" href="#"></a> 
    <button class="navbar-toggler bg-light border-2 border-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar ">
      <span class=" text-primary">Login</span>
    </button>
   </div>
    <!-- fin de boton -->
  </div>
</nav>


<div id="main-container">
  <div class="bg-light p-5 rounded" *ngIf="encabezado"> 
    <!-- carrussel -->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">   
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="encabezado.img1Enc" class="d-block w-100" alt="..." height="300px">
              <div class="carousel-caption d-none d-md-block">
              
              </div>
            </div>
            <div class="carousel-item">
              <img [src]="encabezado.img2Enc" class="d-block w-100" alt="..." height="300px">
              <div class="carousel-caption d-none d-md-block">
                
              </div>
            </div>
            <div class="carousel-item">
              <img [src]="encabezado.img3Enc" class="d-block w-100" alt="..." height="300px">
              <div class="carousel-caption d-none d-md-block">
              
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> 
        </div>

       <!-- Foto de perfil-->
        <div id="img">
          <article class="foto">
            <img class="foto-scale" [src]="encabezado.fotoPerfilEnc"
              alt="LeonelCrespo">
          </article>
        </div>
          <!-- button editar lapiz -->
          <div class="col-3 text-right bg-light" >      
              <a  data-bs-toggle="modal" 
              (click)="onOpenModal('edit',encabezado)"
              data-bs-target="#editEncabezadoModal"
              class="btn btn-primary tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-title="Edit"
              ><i class="fa fa-pen"></i></a>
        <!-- button delete
            <a data-bs-toggle="modal" 
              (click)="onOpenModal('delete',encabezado)"
              data-bs-target="#deleteModalLabel4"

              class="btn btn-secondary tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-title="delete"
              ><i class="fa fa-times"></i></a> x -->
              </div> 
            </div> 
  </div> 
      <!-- Modal edit encabezado -->

<div class="modal fade" 
id='editEncabezadoModal'
tabindex="-1" 
role="dialog"    
aria-labelledby='encabezadoEditModalLabel' 
aria-hidden="true" >

<div class="modal-dialog" role="document">

 <div class="modal-content">
   <div class="modal-header">
     <h5 class="modal-title" 
     id='updateEncabezadoModalLabel'
     > Edit Encabezado</h5>

   <button 
   type="button" 
   class="close"
   data-bs-dismiss="modal" 
   aria-label="Close"> 
   <span aria-hidden="true">&times;</span>
  </button> 

  </div>
   <div class="modal-body">
     <form #editForm= "ngForm">
    <div class="form-group">
     <label for="name">1era Imagen</label>
     <input type="text"
     ngModel="{{editEncabezado?.img1Enc}}"
     name="img1Enc" 
     class="form-control"
      id="img1Enc"
      aria-describedby="emailHelp" 
      placeholder="Primera imagen del carrussel" 
     >
    </div>

     <input type="hidden"
     ngModel="{{editEncabezado?.idEnc}}"
     name="idEnc"
      class="form-control" 
      id="idEnc" 
      placeholder="" 
      >
    

    <div class="form-group">
     <label for="img2Enc">2da Imagen</label>
     <input type="text"
     ngModel="{{editEncabezado?.img2Enc}}"
     name="img2Enc"
      class="form-control" 
      id="img2Enc" 
      placeholder="Segunda imagen del carrussel" 
      >
    </div>

    <div class="form-group">
     <label for="img3Enc">3era Imagen</label>
     <input type="text"
     ngModel="{{editEncabezado?.img3Enc}}"
     name="img3Enc" 
     class="form-control" 
     id="img3Enc" 
     placeholder="Tercera imagen del carrussel" 
     >

    </div>

    <div class="form-group">
     <label for="fotoPerfilEnc">Foto de Perfil</label>
     <input type="text"
     ngModel="{{editEncabezado?.fotoPerfilEnc}}"
     name="fotoPerfilEnc" 
     class="form-control" 
     id="fotoPerfilEnc" 
     placeholder="url de imgen de Perfil" 
     >

    </div>

    <div class="modal-footer">
     <button
     type="button"
     id=""
     data-bs-dismiss="modal"
     class="btn btn-secondary"
     >
     close
     </button>
     <button
     (click)="onUpdateEncabezado(editForm.value)"
     data-bs-dismiss="modal"
     class="btn btn-primary"
     >
     Guardar  cambios
     </button>
    </div>
     </form>
   </div>
 </div>

 </div>
 
 
</div>