<!-- estudios -->
<br>
<br>
<main class="container">
    <div class="bg-light p-5 rounded">
      <h1>ESTUDIOS</h1>
    
      <div class="bnt-edit  position-relative top-0 start-100" ><a href="#" class="btn-right " >Editar<i class="fa fa-pen"></i></a></div>
    
      <div div class="lead">
        <P>• Bachiller Mención Ciencias: [ Julio 
          2005 ] U.E “Maracaibo II” Artigas, Caracas.</P> 
        <P> • Curso de Codo a Codo 4.0:
          Programador Full Stack Java, Herramientas 
          tecnológicas: HTML, CSS, Bootstrap, GIT, 
          JavaScrip, SCRUM, SQL, Java, XAMPP,phpmyadmin. </P>
        <P>• Centro de Formación profesional nº 
          22 idetel: (2021-mar a jun-2021)
          Electricidad y electrónica básica en 
          telecomunicaciones</P> 
        <P>• Centro de Formación Profesional N° 
          10 Raúl Scalabrini Ortiz. Organizador del 
          Computador, Tecnología de la información 
          Organizador del Computador, Tecnología 
          de la informática. (Sep-2021 - dic. 2021)</P>      
          </div> 
        </div>
    </main>
