<!-- datos -->
<section class="contenedorDatos">
    <div id="info-data" class="lista">
      <ul id="info-detaye">
        <h1>Leonel Crespo</h1>      
        <div id="info-conpany">Informatica</div>
        <div id="info-contacts">
          <span>Buenos Aires ( Argentina)</span>
          <br>
          <span><a>Informacion de contacto</a></span>
          <br>
        </div>
        <div class="cajacontacto">
          <h3><b>REDES SOCIALES</b></h3>
          <h2>
            <a class="fa-brands fa-whatsapp"  href="https://wa.me/541136770583" target="_blank"></a>
            <a class="fa-brands fa-linkedin"  href="https://www.linkedin.com/in/crespoleonel35" target="_blank" ></a>
            <a class="fa-brands fa-github" href="https://github.com/lacbj?tab=repositories" target="_blank"></a>
          </h2>
        </div>
        </ul>
      </div>
  
           <!-- Reloj-->
      <article> 
        <section class="reloj_contenedor">    
          <div class="wrap">
            <div class="widget">
              <div class="fecha">
                <p class="diasemana" id="diasemana"></p>
                <p class="dia" id="dia"></p>
                <p>de</p>
                <p class="mes" id="mes"></p>
                <p>del</p>
                <p class="year" id="year"></p>
            </div>
            <div class="reloj">
              <p id="horas" class="horas"></p>
              <p>:</p>
              <p id="minutos" class="minutos"></p>
              <p>:</p>
              <div class="caja-segundos">
                <p id="ampm" class="ampm"></p>
                <p id="segundos" class="segundos"></p>
              </div>
            </div>
          </div>
        </div>
        </section>  
      </article>
      <article>
        <h3>Programdor FullStack Java</h3>
        <h3>#yoprogramo</h3>
      </article>
  </section>
